* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--bg-darker);
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Переменные цвета */
:root {
  --bg-primary: #212121;
  --bg-dark: #1a1a1a;
  --bg-darker: #000;
  --bg-lighter: #333;
  --text-primary: #fff;
  --text-beige: #c7c5b8;
  --text-muted: #666;
  --text-highlight: #fff;
  --accent-azure: #66d9ef;
  --accent-green: #34d399;
  --accent-blue: #3f388f;
  --accent-yellow: #f7dc6f;
  --accent-red: #f22;
  --accent-pink: #ffd8e0;
  --grad-dark-to-light: linear-gradient(to bottom, var(--primary-dark), var(--bg-lighter));
  --grad-accent-to-dark: linear-gradient(to bottom, var(--primary-accent), var(--primary-dark));
}

div {
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

ol,
ul {
  padding: 0;
  list-style: none;
}
