@import url('tailwindcss');

/* @import 'tailwindcss-primeui'; */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--bg-darker);
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Inter/Inter_18pt-SemiBold.ttf') format('ttf');
  font-display: auto;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Переменные цвета */
:root {
  --bg-dark: #1a1a1a;
  --bg-darker: #000;
  --bg-lighter: #333;
  --text-primary: #fff;
  --text-beige: #c7c5b8;
  --text-muted: #666;
  --text-highlight: #fff;
  --accent-azure: #66d9ef;
  --accent-green: #34d399;
  --accent-blue: #3f388f;
  --accent-yellow: #f7dc6f;
  --accent-red: #f22;
  --accent-pink: #ffd8e0;
  --grad-dark-to-light: linear-gradient(to bottom, var(--primary-dark), var(--bg-lighter));
  --grad-accent-to-dark: linear-gradient(to bottom, var(--primary-accent), var(--primary-dark));
  --x1: 0.25rem;
  --x2: 0.5rem;
  --x2-5: 0.625rem;
  --x3: 0.75rem;
  --x4: 1rem;
  --x5: 1.25rem;
  --x6: 1.5rem;
  --x7: 1.75rem;
  --x8: 2rem;
  --x9: 2.25rem;
  --x10: 2.5rem;
}

div {
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

ol,
ul {
  padding: 0;
  list-style: none;
}

/*
  Утилиты флекс контейнеров. Свойство gap
  при необходимости можно переопределять через
  tailwind-утилиту space-x-<your-value>
  */
.flex-s {
  display: flex;
  gap: var(--x2);
  align-items: center;
  justify-content: start;
}

.flex-b {
  display: flex;
  gap: var(--x2);
  align-items: center;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  gap: var(--x2);
  align-items: center;
  justify-content: center;
}

/* Утилиты основных цветов приложения из UTM */
.utm-bg-primary {
  background-color: var(--utm-bg-primary);
}

.utm-bg-secondary {
  background-color: var(--utm-bg-secondary);
}

.utm-text-primary {
  color: var(--utm-text-primary);
}

.utm-text-secondary {
  color: var(--utm-text-secondary);
}
